.filesets__wrp {
    display: flex;
}

.filesets__element {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #232323;
    font-weight: 500;
}

.filesets__element:nth-child(2) {
    justify-content: center;
}

.filesets__element:last-child {
    justify-content: flex-end;
}

.filesets__buttons {
    display: flex;
    flex-direction: column;
}

.filesets__button {
    min-width: 174px;
    max-width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6baf6d;
    border: none;
    border-radius: 0;
    font-size: 14px;
    color: #fff !important;
    font-weight: 700;
    outline: none;
    padding: 0 14px;
    margin: 0 0 10px;
    transition: opacity .5s;
}

.filesets__button-red {
    background: #f75540;
}

.filesets__button:hover {
    opacity: .8;
}

.filesets__button:last-child {
    margin: 0;
}

.filesets_files__wrp {
    border-top: 1px solid #ddd;
    padding: 20px 0 4px;
    margin: 20px 0 0;
}

.list-group-item {
    border: 1px solid #bbb;
}

.filesets_files__element {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 10px;
}

.filesets_files__element:last-child {
    margin: 0;
}

.filesets_files__title {
    margin: 0 20px 0 0;
}

.filesets_files__show {
    font-size: 14px;
    color: #232323;    
    margin: 0 20px 0 0;
}

.main-panel {
    max-width: 1200px;
    float: left;
    margin: 0 0 0 260px;
}

.cur__wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
}

.cur__title {
    font-size: 14px;
    color: #232323;
    margin: 0 20px 0 0;
}

@media (max-width: 991px) {
    .main-panel {
        margin: 0;
    }
}

@media (max-width: 414px) {
    .filesets__wrp {
        flex-direction: column;
    }

    .filesets__element {
        width: 100%;
        justify-content: center !important;
        padding: 5px 0;
    }

    .filesets_files__element {
        flex-direction: column;
    }

    .filesets_files__title {
        margin: 0 0 10px;
    }

    .cur__wrp {
        flex-direction: column;
    }

    .cur__title {
        margin: 0 0 10px;
    }
}