{% extends 'include/base.html' %}

{% block script %}
/* 
    Initializatons
*/


$('#filesets-all-list').on('click', '.set-active', function(e){
    console.log('here');
    filesetid = $(this).data('filesetid');
    console.log(filesetid);
    $.ajax({
        url: API_ROOT + 'fileset/',
        type: 'put',  
        data: JSON.stringify({
            filesetid: filesetid,
        }),
        success: function(data){
            console.log('Success');
            console.log(data);

            // Обновление файлов
            updateFileSets();
        },
        error: function(){
            alert('Невозможно обновить данный файлсет');
        }
    });
});



/* 
    Функция обновления данных по файлам в соответствии с текущим набором файлов. 
*/
function updateFileSets(){
    console.log('in update_filesets');
    $.ajax({
        url: API_ROOT + 'filesets/',
        type: 'GET',  
        success: function(data){
            console.log(data);
            var filesets = data;
            console.log(filesets[0]['name'])

            $('#filesets-all-list').html('');
            var resultString = '';
            for(var i = 0; i != filesets.length; i++){
                var fileset = filesets[i];
                var fileSetString = '<div class="list-group-item">' + 
                    '<button data-filesetid="' + fileset['id'] + '" class="delete-fileset badge alert-danger pull-right">' +
                        'Удалить' + 
                    '</button>' + 
                    '<button data-filesetid=' + fileset['id'] + ' class="set-active badge alert-success pull-right">' + 
                        'Сделать текущим' + 
                    '</button>' + 
                    '<p class="text-info pull-left badge">' + 
                        fileset['timestamp'] +        
                    '</p>' + 
                    fileset['name'] + 
                    '</div>\n';            
                resultString += fileSetString;
            }

            $('#filesets-all-list').html(resultString);
            
        },
        error: function(){
            alert('Невозможно обновить файлы');
        }
    });
}


{% endblock %}

{% block css %}
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
{% endblock %}

{% block title %}
Файлсет
{% endblock %}

{% block content %}

<div class="content">
<div class="panel panel-default">
        <div class="panel-heading"><strong>Все файлсеты</strong> <small>Наборы файлов</small></div>
        <div class="panel-body">
            <div id='filesets-all-list' class="list-group">
                {% for fileset in filesets %}
                <div class="list-group-item">
                    <div class="container-fluid">
                        <div class="filesets__wrp">
                            <div class="filesets__element">{{ fileset.name }}</div>
                            <div class="filesets__element">{{ fileset.timestamp | date:"Y.m.d H:i" }}</div>
                            <div class="filesets__element">
                                <div class="filesets__buttons">
                                    <button data-filesetid='{{fileset.pk}}' class="set-active filesets__button">Сделать текущим</button>
                                    <button data-filesetid='{{fileset.pk}}' class="delete-fileset filesets__button filesets__button-red"> Удалить</button>    
                                </div>
                            </div>
                        </div>
                        <div class="filesets_files__wrp">
                            {% for file in fileset.files.all %}
                                {% if file.file %}
                                    <div class="filesets_files__element">
                                        <a href="{{ file.file.url }}" target="_self" class="filesets_files__title">{{ file.name }}</a>                            
                                        <a href="{{ file.file.url }}" download class="filesets__button">Скачать</a>
                                    </div>
                                {% else %}
                                    <div class="filesets_files__element">
                                        <a href="" target="_self" class="filesets_files__title">Неправильный файл - {{ file.pk }}</a> 
                                        <div class="filesets_files__show">См. файлсет</div>                            
                                        <a href="{%if request.is_secure %}https://{% else %} http://{% endif %}{{request.get_host}}/admin/server/file/{{file.pk}}/change/" class="filesets__button filesets__button-red">
                                            {%if request.is_secure %}https://{% else %} http://{% endif %}{{request.get_host}}/admin/server/filese/{{file.pk}}/change/
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
      </div> <!-- Контент-->
{% endblock %}