{% extends 'include/base.html' %}

{% block script %}
/* 
    Initializatons
*/


SORTING_COLUMN = 1;

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');


+ function($) {
    'use strict';

    // UPLOAD CLASS DEFINITION
    // ======================

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    var startUpload = function(files) {
        console.log(files)
        <!-- console.log($('form')); -->
        $('#js-upload-files')[0].files = files;
        console.log($('#js-upload-files')[0].files);
        console.log(new FormData($('#js-upload-form')[0]));
        
        $.ajax({
            // Your server script to process the upload
            url: API_ROOT + 'file/', 
            type: 'POST',
    
            // Form data
            data: new FormData($('#js-upload-form')[0]),
    
            // Tell jQuery not to process data or worry about content-type
            // You *must* include these options!
            cache: false,
            contentType: false,
            processData: false,
    
            // Custom XMLHttpRequest
            xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    // For handling the progress of the upload
                    myXhr.upload.addEventListener('progress', function(e) {
                        if (e.lengthComputable) {
                            var file = files[0];
                            progress(e, file);
                        }
                    } , false);
                }
                return myXhr;
            }, 

        });
          
    }

    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

}(jQuery);



/* 
    Функция для подсчета процентов подгрузки файла и вывода проента в прогресс бар, 
    а также занесения файла в список успешных после отличной работы
*/
function progress(e, file){

    if(e.lengthComputable){
        var max = e.total;
        var current = e.loaded;

        var Percentage = (current * 100)/max;

        $('.progress-bar').css('width',  (Percentage) + '%');
        console.log(Percentage);


        if(Percentage >= 100)
        {
           // process completed  
           console.log(e);

           var succeed = '<a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Успешно</span>' + file.name + '</a>';

           $('#files-succeed-list').append(succeed);
           updateFiles();
        }
    }  
}


$('#files-all-list').on('click', '.delete-file', function(e){
    console.log('here');
    fileid = $(this).data('fileid');
    console.log(fileid);
    $.ajax({
        url: API_ROOT + 'file/',
        type: 'DELETE',  
        data: JSON.stringify({
            fileid: fileid,
        }),
        success: function(data){
            console.log(data);
            $('[data-fileid=' + fileid + ']').closest('.list-group-item').remove(); 

            // Обновление файлов
            updateFiles();
        },
        error: function(){
            alert('Невозможно удалить данный файл');
        }
    });
});



/* 
    Функция обновления данных по файлам в соответствии с текущим набором файлов. 
*/
function updateFiles(){
    console.log('here');
    $.ajax({
        url: API_ROOT + 'files/',
        type: 'GET',  
        success: function(data){
            console.log(data);
            var files = JSON.parse(data).files;
            console.log(files)

            $('#files-all-list').html('');
            var resultString = '';
            for(var i = 0; i != files.length; i++){
                var filein = files[i];
                var fileString = '<div class="list-group-item"><button data-fileid="' + filein['id'] + '" class="delete-file badge alert-danger pull-right">Удалить</button>' + filein['name'] + '</div>\n';
                resultString += fileString;
            }

            $('#files-all-list').html(resultString);
            
        },
        error: function(){
            alert('Невозможно обновить файлы');
        }
    });
}


{% endblock %}

{% block css %}
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
{% endblock %}

{% block title %}
Файлы текущего файлсета
{% endblock %}

{% block content %}

<div class="content">
<div class="panel panel-default">
        <div class="panel-heading"><strong>Текущий файлсет</strong></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Выберите файл с компьютера для загрузки на сервер</h4>
          <form action="/upload" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files" id="js-upload-files">
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Загрузить файл</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Или перенесите файл в данную область</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Просто перетащите файл сюда
          </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>

          <!-- Upload Finished -->
          <div class="js-upload-finished">
            <h3>Обработанные файлы</h3>
            <div id='files-succeed-list' class="list-group">
              <!-- <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-01.jpg</a>
              <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">Success</span>image-02.jpg</a> -->
            </div>
          </div>

            <!-- Upload Finished -->
            <div class="js-upload-finished">
                <h3>Текущий файлсет</h3>
                <div id='files-all-list' class="list-group">
                    {% for filein in fileset.files.all %}
                    <div class="cur__wrp">
                        <div class="cur__title">{{ filein.get_filename }}</div>
                        <button data-fileid='{{filein.pk}}' class="delete-file filesets__button filesets__button-red">Удалить</button>
                    </div>
                    {% endfor %}
                </div>
            </div>


        </div>
      </div>
      </div> <!-- Content -->
{% endblock %}