{% extends 'include/base.html' %}

{% block script %}

/* 
    Initializatons
*/

SORTING_COLUMN = 1;


// ---------
// FUNCTIONS 
// ---------


/* 
    Паддинг с лидирующими нулями
*/
function pad(num, size) {
    var s = "000000000" + num;
    return s.substr(s.length-size);
}


/* 
    Нажатие кнопки действий в таблице клиентов
*/
$('.row-client .cmd-btn').on('click', function(e){
    var cid = $(this).data('cid');
    var command = $(this).data('command');
    console.log('cid: ' + cid);
    console.log('command: ' + command);

    $.ajax({
        url: API_ROOT + 'client/command/',
        type: 'POST', 
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            cid: cid, 
            command: command,
        },
        success: function(){
            console.log('okekeeee');
        },
        fail:function(){
            console.log('Could not restart client')
        }
    });
});



/* 
    Нажатие кнопки для массовых действий
*/
$('.btn-mass .cmd-btn').on('click', function(e){
    var command = $(this).data('command');

    var commands = [];
    $('.custom-control input:checked').closest('tr').each(function(){
        commands.push({
            cid: $(this).data('cid'), 
            command: command
        }); 
    });
    console.log('commands: ');
    console.log(commands);

    $.ajax({
        url: API_ROOT + 'clients/command/',
        type: 'POST', 
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            commands: JSON.stringify(commands),
        },
        success: function(){
            console.log('Mass action button worked');
        },
        fail:function(){
            console.log('Could not make command');
        }
    });
});


$('.sort-header').on('click', function(e){
    e.preventDefault();
    var num = parseInt($(this).data('num'));
    SORTING_COLUMN = num;
    $('#table-clients').tablesorter({sortList: [[0, SORTING_COLUMN],]} );
});


/* 
    Настройка чекбоксов при клике на строку
*/ 
$('#table-clients td:not(:last-child):not(:first-child)').on('click', function(){
    console.log('click');
    var checkbox = $(this).parent().find('input:checkbox');
    if (checkbox.prop('checked')){
        $(this).parent().find('input').prop('checked', false);
    }
    else{
        $(this).parent().find('input').prop('checked', true);
    }
});

/*
    Автоматическая подгрузка данных по контролллерам
*/


function sortTableClients(){
    $('#table-clients').tablesorter([[0, SORTING_COLUMN]]);
}

function clientsTableUpdate(e){
    $.ajax({
        url: API_ROOT + 'clients/',
        type: 'POST',
        data: {
        },
        success: function(data){
            console.log('success');
            //var clients = data.clients;

            //for (client)

            sortTableClients();
        },
        error: function(data){
            
        },
    });
}
{% endblock %}

{% block css %}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.glyphicon-refresh:before {
    content: "\e031";
}

.loading-spinner{
    display: none;
}
{% endblock %}



{% block content %}
<div class="content" style="padding: 30px 0 30px 0">
<div class='container-fluid' style="padding: 0">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class='container' style='width: auto;'>
                    <div class="row">
                        <div class="header col-md-8">
                            <h4 class="title">Контроллеры</h4>
                            <p class="category">Таблица контроллеров на запуск скрипта</p>
                        </div>
                        <div class="btn-mass header col-md-4 float-md-right">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="
                                float: right;
                                width: 161.359px;
                                ">
                                    Действия
                                </button>
                                <div class="dropdown-menu dropup"style="
                                display: flex;
                                padding: 0 5px;
                                flex-direction: column;">
                                    <button data-command='start' type="button" class="cmd-btn btn btn-success" style="margin: 5px 0">Старт</button>
                                    <button data-command='stop' type="button" class="cmd-btn btn btn-danger" style="margin: 5px 0">Стоп</button>
                                    <button data-command='restart' type="button" class="cmd-btn btn btn-warning" style="margin: 5px 0">Рестарт</button>
                                    <button data-command='update_files' type="button" class="cmd-btn btn btn-light" style="margin: 5px 0">Обновить файлы</button>
                                    <button data-command='inst_reqs'type="button" class="cmd-btn btn btn-dark" style="margin: 5px 0">Установить пакеты</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table id='table-clients' class="table tablesorter table-hover table-striped">
                        <thead>
                            <th></th>
                            <th><a class='sort-header' href='' data-num='1'>CID</a></th>
                            <th><a class='sort-header' href='' data-num='2'>Последний бит</a></th >
                            <th  style="
                                width: 200px;
                                flex-shrink: 0;
                            ">Действия</th>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                            <tr class='row-client' data-cid='{{ client.cid }}'>
                                <td>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                    </label>
                                </td>
                                <td>{{ client.cid }}</td>
                                <td class='font-weight-bold {% if client.is_active %}text-success {% else %}text-danger {% endif %}' >{{ client.last_beat | date:"Y.m.d H:i" }}</td>
                                <td style="
                                    width: 200px;
                                    flex-shrink: 0;
                                ">     
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="
                                        float: right;
                                        width: 161.359px;
                                        ">
                                            <span class="loading-spinner glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                            Действия
                                        </button>
                                        <div class="dropdown-menu dropup" style="
                                        display: flex;
                                        padding: 0 5px;
                                        flex-direction: column;">
                                            <button data-cid='{{client.cid}}' data-command='start' type="button" class="cmd-btn btn btn-success" style="margin: 5px 0">Старт</button>
                                            <button data-cid='{{client.cid}}' data-command='stop' type="button" class="cmd-btn btn btn-danger" style="margin: 5px 0">Стоп</button>
                                            <button data-cid='{{client.cid}}' data-command='restart' type="button" class="cmd-btn btn btn-warning" style="margin: 5px 0">Рестарт</button>
                                            <button data-cid='{{client.cid}}' data-command='update_files' type="button" class="cmd-btn btn btn-light" style="margin: 5px 0">Обновить файлы</button>
                                            <button data-cid='{{client.cid}}' data-command='inst_reqs'type="button" class="cmd-btn btn btn-dark" style="margin: 5px 0">Установить пакеты</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>  <!-- Content -->
{% endblock %}