{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href='{% static "img/favicon.ico" %}'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Сервер контроллеров</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    {% block head %}
    {% endblock %}
    <!-- Bootstrap core CSS     -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href='{% static "css/animate.min.css" %}' rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href='{% static "css/light-bootstrap-dashboard.css" %}' rel="stylesheet"/>

    <link href='{% static "css/style.css" %}' rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    {% comment %} <link href='{% static "css/demo.css" %}' rel="stylesheet" /> {% endcomment %}


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='{% static "css/pe-icon-7-stroke.css" %}' rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Сервер контроллеров
                </a>
            </div>

            <ul class="nav">
                <li {% if request.get_full_path  ==  '/' %}class="active" {% endif %}>
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Управление</p>
                    </a>
                </li>
                <li {% if request.get_full_path  ==  '/filesets/' %} class="active" {% endif %}>
                    <a href="{% url 'filesets' %}">
                        <i class="pe-7s-file"></i>
                        <p>Файлсеты</p>
                    </a>
                </li>
                <li {% if request.get_full_path  ==  '/files/' %} class="active" {% endif %}>
                    <a href="{% url 'files' %}">
                        <i class="pe-7s-file"></i>
                        <p>Текущий файлсет</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% block title %} Сервер контроллеров {% endblock %}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Сервер контроллеров</p>
                            </a>
                        </li>
                        {% comment %} <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-lg hidden-md"></b>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li> {% endcomment %}
                        {% comment %} <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li> {% endcomment %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="{% url 'admin:index' %}">
                               <p>Панель администратора</p>
                            </a>
                        </li>
                        {% comment %} <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Действия
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li> {% endcomment %}
                        <li>
                            <a href="/admin/logout/">
                                <p>Выйти</p>
                            </a>
                        </li>
						<li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


            {% block content %}
            {% endblock %}


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                Домашняя страница
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="/">Ваш Булатов А.Д.</a>, сделано с любовью
                </p>
            </div>
        </footer>

    </div>
</div>


</body>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>

    <!--   Core JS Files   -->
    <script src='{% static "js/jquery.3.2.1.min.js" %}' type="text/javascript"></script>
	<script src='{% static "js/bootstrap.min.js" %}' type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src='{% static "js/chartist.min.js" %}'></script>

    <!--  Notifications Plugin    -->
    <script src='{% static "js/bootstrap-notify.js" %}'></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src='{% static "js/light-bootstrap-dashboard.js" %}'></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    {% comment %} <script src='{% static "js/demo.js" %}'></script> {% endcomment %}
    <script src='{% static "js/jquery.tablesorter.js" %}'></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <style>
        {% block css %}
        {% endblock %}
    </style>
    <script>

        API_ROOT = '{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/gui/api/';
        {% block script %}
        {% endblock %}
    </script>

</html>
